body {
    margin: 0;
    font-family: 'Poiret One', cursive;
    color: #111;
    font-size: 18px;
}

main {
    margin-top: 213px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.45;
}

section {
    padding: 2em;
}

footer {
    padding: 1em;
}

section {
    background-color: #dfe4ea;
}

footer {
    background-color: #111;
    color: #f1f1f1;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h2, h3 {
    text-transform: uppercase;
}

h2, h3, li {
    font-weight: bold;
}

h2, h3, a {
    color: #2c3e50;
}

@media (min-width: 576px) {
    .skill-score {
        float: right;
        width: 50%;
    }
    .skills-container {
        text-align: left;  
    }
}

.education-container {
    margin: 0 auto;
    max-width: 600px;
}

.profile-img {
    width: 18em;
    height: 18em;
    border-radius: 50%;
    border: solid 10px #dfe4ea;
    margin: 0 auto;
}

.about {
    font-size: 1.2em;
    margin-top: 2em;
}

.background h1 {
    font-size: 6em;
    margin-top: 0;
}

.myNavbar {
    padding: .5em 0;
    font-size: .8em;
    background: rgba(11, 11, 11, .9);
    text-align: center;
}

.navbar-nav {
    margin: 0 auto;
}

.myNavbar li a {
    color: #f1f1f1;
    text-decoration: none;
}

.myNavbar li a:hover {
    font-weight: bold;
}

.background {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 55vh 0 45vh 0;
    margin-bottom: -426px;
    margin-top: -213px;
    color: #f1f1f1;
}

.background h1 {
    margin: 0;
}

.social {
    font-size: 2em;
}

.social li {
    display: inline-block;
    margin: 0 10px 0 10px;
}

.copyright {
    margin: 0;
}

.bg-grey {
    background-color: #ced6e0;
}

.card {
    border: 0;
    border-radius: 0;
}

.skill {
    padding: 1em;
}

.my-card {
    background-color: rgba(255,255,255,.8);
    padding: 1em;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,.2);
    margin-bottom: .5em;
}

.my-card:hover {
    background-color: rgba(255,255,255,.9);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,.3);
}

.thinline {
    border-bottom: 3px solid #f39c12;
}

.arrow-down {
    color: rgba(255,255,255,.8);
    font-size: 3em;
}

.courses li {
    cursor: pointer;
}

#back2top {
    font-weight: bold;
}
