.background h1 {
    font-size: 6em;
    margin-top: 0;
}

.background {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 50vh 0;
    margin-bottom: -203px;
    margin-top: -101px;
    color: #f1f1f1;
}

.background h1 {
    margin: 0;
}

.bg-grey {
    background-color: #ced6e0;
}

.arrow-down {
    color: rgba(255, 255, 255, .8);
    font-size: 3em;
    position: absolute;
    top: 80vh;
}